@import "../../typper.posts/stylesheets/posts";

.app-toolbar div.md-toolbar-tools .menu-btn {

  width: 56px;
  height: 56px;
  min-width: 56px;
  margin: 0 20px 0 7px;
  background: url( ../resources/images/logo.png) no-repeat center;
}