@import "../../typper.posts/stylesheets/posts";
$fa-font-path: "../../../bower_components/font-awesome/fonts";
@import "../../../bower_components/font-awesome/scss/font-awesome";

body {

  overflow: hidden;
}
div.view-wrapper {

  margin-top: -64px;
  padding-top: 64px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}
.app-toolbar div.md-toolbar-tools .menu-btn {

  width: 56px;
  height: 56px;
  min-width: 56px;
  margin: 0 20px 0 7px;
  background: url( ../resources/images/logo.png) no-repeat center;
}
.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.mdl-card {

  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}