$golden-big: 61.8%;
$golden-small: 38.2%;
$add-post-btn-z-index: 999;
$list-item-height: 107px;

$fb-color: rgba(59, 89, 152, 1);
$g-color: rgba(219, 68, 55, 1);
$tw-color: rgba(51, 204, 255, 1);
$inst-color: rgba(255,140,0, 1);
$fb-color-transparent: rgba(59, 89, 152, 0.7);
$g-color-transparent: rgba(219, 68, 55, 0.7);
$tw-color-transparent: rgba(51, 204, 255, 0.85);
$inst-color-transparent: rgba(255,140,0, 0.7);