<div  id="{$data.id}"
      class="{css view} {css single-post-block}
        {switch $data.source}
            {case $source.FB}
                {sp}{css social-fb}
            {case $source.TWITTER}
                {sp}{css social-tw}
            {case $source.GOOGLE_PLUS}
                {sp}{css social-g}
            {case $source.INSTAGRAM}
                {sp}{css social-inst}
        {/switch}">
    <div
            class="{css mdl-card} {css mdl-shadow--2dp}">
        <div
                class="{css single-post-title-wrapper}">
            <div
                    class="{css post-created-date-wrapper}">
                <i
                        class="{css awesome-icons}"
                        aria-hidden="true">
                    {switch $data.source}
                    {case $source.FB}
                    {literal}&#xf09a;{/literal}
                    {case $source.TWITTER}
                    {literal}&#xf099;{/literal}
                    {case $source.GOOGLE_PLUS}
                    {literal}&#xf0d5;{/literal}
                    {case $source.INSTAGRAM}
                    {literal}&#xf16d;{/literal}
                    {/switch}
                </i>
                <div
                        class="{css post-created-date}">
                    {$data.createdTime}
                </div>
            </div>
        </div>
        {if $data.video.length}
        <div
                class="{css single-post-media-container} {css mdl-card--border}">
            {if $data.video[ 0 ].contentType == 'video/mp4'}
            <video
                    class="{css single-post-video}"
                    controls>
                <source src="{$data.video[ 0 ].sourceLink|noAutoescape}" type="video/mp4">
            </video>
            {elseif $data.video[ 0 ].contentType == 'video/youtube'}
            <embed
                    class="{css single-post-video}"
                    src="{$data.video[ 0 ].sourceLink|noAutoescape}">
                {/if}
        </div>
        {elseif $data.image.length}
        <div
                class="{css single-post-media-container} {css mdl-card--border}">
            <img
                    class="{css single-post-img}"
                    src="{$data.image[ 0 ].sourceLink|noAutoescape}">
        </div>
        {/if}
        {if $data.text}
        <div
                class="{css single-post-txt-wrapper} {css mdl-card--border}">
            <div
                    class="{css article-txt} {css mdl-color-text--grey-800}">
                {$data.text}
            </div>
        </div>
        {/if}
        <div
                class="{css button-post-wrapper} {css mdl-card--border}">
            <a
                    class="{css open-original-post-btn} {css mdl-button} {css mdl-js-button}
                           {css mdl-button--raised} {css highlighted-element}"
                    href="{$data.sourceLink}"
                    target="_blank">
                    <span
                            id="open-button-message">
                        Open with
                    </span>
                {switch $data.source}
                {case $source.FB}
                {sp} Facebook
                {case $source.TWITTER}
                {sp} Twitter
                {case $source.GOOGLE_PLUS}
                {sp} Google+
                {case $source.INSTAGRAM}
                {sp} Instagram
                {/switch}
            </a>
        </div>
    </div>
</div>